---
import Layout from '../components/Layout.astro';
---

<Layout title="Blog">
    <div class="container">
        <main>
          <h1>Blog</h1>
          <p>Hi! Much juicy blog right here =)</p>
          <ol>
            <li><a href="/posts/post-1">Blog 1</a></li>
            <li><a href="/posts/post-2">Blog 2</a></li>
            <li><a href="/posts/post-3">Blog 3</a></li>
          </ol>
        </main>
    </div>
</Layout>
<style>
  h1 {
    color: red;
  }
</style>