---
import Layout from '../components/Layout.astro';
---

<Layout title="Blog">
    <div class="container">
        <main>
          <h1>Blog</h1>
          <p>Hi! Much juicy blog right here =)</p>
        </main>
    </div>
</Layout>
<style>
  h1 {
    color: red;
  }
</style>