---
import Social from './Social.astro';
//const platform = "github";
//const username = "bellfalasch";
---

<footer>
  <p>
    <span>Learn more about my projects:</span>
    <Social platform="twitter" username="bobbyawesome" />
    <Social platform="github" username="bellfalasch" />
    <Social platform="linkedin" username="bobby.westberg" />
  </p>
</footer>

<style>
  footer {
    background-color: #bbb;
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>