<nav>
  <ol>
    <li><a href="/">Homepage</a></li>
    <li><a href="/about/">About us</a></li>
    <li><a href="/blog/">Blog</a></li>
  </ol>
</nav>

<style>
  nav ol {
    background-color: dodgerblue;
    margin: 0;
    padding: 10px 0;
    list-style-type: none;
    display: flex;
    align-content: space-between;
    width: 100vw;
    
  }
  nav ol li {
    margin-right: 20px;
  }
  nav ol li:last-child {
    margin-right: none;
  }
</style>